/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.robotImageContainer {
  margin: 0 auto;
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
}

.robotImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__description {
  max-width: 800px;
  margin: 1rem auto;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--ifm-hero-text-color);
}
