/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #203354;
  --ifm-color-primary-dark: #1c2d4a;
  --ifm-color-primary-darker: #1a2a44;
  --ifm-color-primary-darkest: #152238;
  --ifm-color-primary-light: #24395e;
  --ifm-color-primary-lighter: #263c64;
  --ifm-color-primary-lightest: #2b4472;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3d6fcc;
  --ifm-color-primary-dark: #2a5fb8;
  --ifm-color-primary-darker: #2455a8;
  --ifm-color-primary-darkest: #1e458a;
  --ifm-color-primary-light: #5683d0;
  --ifm-color-primary-lighter: #638dd4;
  --ifm-color-primary-lightest: #83a8e0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
